{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<div class="m-0 p-0 content text-justify pr-4 pl-4 pt-4">
  <h1 class="pb-3">О проекте</h1>
  <p class="pb-4">
    The ARK - это централизованный каталог всех накопленных оцифрованных учебных работ нас, учителей и студентов ГТЭК.
    Это наше наследие для будущих поколений студентов, которые ищут материалы для написания работ,
    но не имеют свободного доступа к материалам, которые предоставляются менторами учебных дисциплин по той или иной причине.
  </p>
  <h1 class="pb-3">Важные особенности</h1>
  <p class="pb-4">
    1. Все материалы на сайте предоставляются для бесплатного использования и передачи без ограничений. <br>
    2. Каждый пользователь имеет право загрузить свой кусочек памяти о ГТЭКЕ и оставить за собой право авторства или анонимности.<br>
    3. Работы проходят модерацию администраторами сайта по мере возможности и актуальности загруженной работы.<br>
    4. Архив не предоставляет 100% гарантии точности выполнения работ, пользователи вправе сами выбирать вариант выполнения работы исходя из ее содержимого, предоствленного в каталоге работ.<br>
  </p>
  <h1 class="pb-3">Правила сайта</h1>
  <p class="pb-4">
    1. Сайт оставляет за собой право изменять, удалять, блокировать содержимое каталога исходя из собственных побуждений и нужд.<br>
    2. Пользователь оставляет за собой право запросить изменить, удалить, блокировать содержимое своей или чужой записи при условии, если за ним закреплено право авторства за работой, либо права пользователя были задеты чужой работой.<br>
    3. Обратная связь с разработчиком сайта поддерживается строго через контакты, предоставленные пунком FAQ “Обратная связь”.<br>
    4. Права пользователя определены его гражданскими правами, описанными конституцией и законами территории, на которых он проживает. <br>
    5. Сайт не несет ответственности за содержимое файлов, загружаемых пользователями. <br>
  </p>
  <h1 class="pb-3">О разработчике</h1>
  <p class="pb-4">
    Сайт разработан Шевелевым Ильей Владимировичем (S3boo) в рамках итоговой работы по дисциплине ПССИП под менторством Мартьяновой М.Л.
     и редактируется исходя из желаний и просьб пользователей сайта, осуществляемых через контакты обратной связи.
  </p>
  <h1 class="pb-3">Обратная связь</h1>
  <p>
      e-mail: s3boo@yandex.by
      <br>
      vk: https://vk.com/seamo
  </p>
</div>
{% endblock %}