<form action="{% url 'archive' %}" method="get">
  <table class="table m-0 mb-4 table-sm table-light">
    <thead class="thead-dark">
    <tr>
        <td class="small">Название файла</td>
        <td class="small">Вариант</td>
        <td class="small">Категория</td>
        <td class="small">Год написания</td>
    </tr>
    </thead>
    <tbody>
      <tr>
          <td class="small">
            <input type="text" name="name" id="name" class="form-control form-control-sm" value={{ last_data.name }}>
          </td>
          <td class="small">
            <input type="text" name="variant" id="variant" class="form-control form-control-sm" value={{ last_data.variant }}>
          </td>
          <td class="small">
            <select id="category" name="category" class="custom-select custom-select-sm">
              <option value="0">Не имеет значения</option>
              {% for x in category %}
                  <option value="{{ x.id }}">{{ x.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td class="small">
            <input type="number" class="form-control form-control-sm" name="year" id="year" value={{ last_data.year }}>
          </td>
          <td class="small">
            <button type="submit" class="btn btn-dark btn-sm">Фильтрация</button>
          </td>
      </tr>
    </tbody>
  </table>
</form>
