{% extends "base.html" %}

{% block title %}
Полезные ссылки
{% endblock %}

{% block content %}
<div class="m-0 p-0 content text-justify pr-4 pl-4 ">
    <div class="card-deck pt-4">
           <div class="card">
        <div class="card-header">Яндекс.Диск</div>
        <div class="card-body">
            <div class="card-title>">Весь архив лабораторных в Яндекс.Диск формате</div>
            <div class="card-text"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Используемые технологии</div>
        <div class="card-body">
            <div class="card-title"></div>
            <div class="card-text"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Партфолио разработчика</div>
        <div class="card-body">
            <div class="card-title"></div>
            <div class="card-text"></div>
        </div>
    </div>
    </div>
</div>
{% endblock %}