{% extends 'base.html' %}

{% block title %}
{{ user.get_username }}
{% endblock %}

{% block content %}
  <div class="row mt-5">
      <div class="col-12 col-md-3  text-center">
        <img width="250px" height="250px" src="{{ user.profile.userpic.url }}" alt="{{ user.get_username }}" class="img-fluid">
      </div>
      <div class="col-12 col-md-9">
        <h1>{{ user.get_username }}</h1>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>Репутация: {{ user.profile.reputation }}</p>
        <p>Статус: {{ user.profile.status }}</p>
      </div>
  </div>
  {% if last_labs %}
    <table class="table table-hover table-striped ml-0 col-12 mt-5">
      <thead class="thead-dark">
        <tr>
          <td class="small">Название файла</td>
          <td class="small">Вариант</td>
          <td class="small">Категория</td>
          <td class="small">Год написания</td>
          <td class="small">Просмотры</td>
          <td class="small">Рейтинг</td>
        </tr>
      </thead>
      <tbody>
        {% for x in last_labs%}
            <tr>
              <td class="small"><a href="{% url "details" x.id %}" class="text-dark">{{ x.name }}</a></td>
              <td class="small">{% if x.variant > 0 %} {{ x.variant }} {% else %} Без варианта {% endif %}</td>
              <td class="small"><a href="{% url "category_labs" x.category.id %}" class="text-dark">{{ x.category }}</a></td>
              <td class="small">{{ x.year }}</td>
              <td class="small">{{ x.views }}</td>
              <td class="small">{{ x.rating }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" with page_object=last_labs%}
  {% else %}
    <div class="col-12 text-center mt-5">
      <h2>Этот пользователь еще не публиковал записи</h2>
    </div>
  {% endif %}
{% endblock %}