<div class="card">
    <div class="card-header">
        <img src="{{ user.profile.userpic.url }}" alt="Userpic" class="img-fluid pb-2">
        <br>
        <a class="text-dark" href="{% url 'profile_view' user.id %}"><strong>{{ user.get_username}}</strong></a>
        <br>
        <p>Публикации: {{ user.profile.uploads }} <br> Счёт: {{ user.profile.reputation }}</p>
    </div>
    <div class="card-body">
        <div class="card-text">
            <a href="#" class="text-dark font-weight-bold">Редактировать</a>
            <br>
            <a href="{% url 'logout' %}" class="text-dark font-weight-bold">Выход из аккаунта</a>
        </div>
    </div>
</div>